<ion-view view-title="OST Team">
  <ion-content>
  	<div class="button-bar">
		<button class="button button-small button-royal" ng-click="ripple()">
	        riple
	    </button>
		<button class="button button-small button-positive" ng-click="fadeSlideInRight()">
	        fadeSlideInRight
	    </button>
		<button class="button button-small button-dark" ng-click="fadeSlideIn()">
	        fadeSlideIn
	    </button>
		<button class="button button-small button-calm active" ng-click="blinds()">
	        blinds
	    </button>
	</div>    
    <ion-list class="animate-ripple">
        <ion-item ng-repeat="profilelist in profiles" class="item-icon-right item-avatar" href="#/app/profile/{{profilelist.id}}">
            <img ng-src="{{profilelist.face}}">
            <h2>{{profilelist.name}}</h2>
            <p>ionicMaterialMotion</p>
            <i class="icon ion-chatbubble muted"></i>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
