<ion-view view-title="Profile">
  <ion-content>

<div class="list card">

  <div class="item item-avatar">
    <img src="{{profile.face}}">
    <h2>{{profile.name}}</h2>
    <p>{{profile.email}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" ng-src="{{profile.face}}">
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#"> <i class="icon ion-thumbsup"></i> Like </a>
	<a class="tab-item" href="#"> <i class="icon ion-chatbox"></i> Comment</a>
    <a class="tab-item" href="#"> <i class="icon ion-share"></i>Share</a>
  </div>

</div>

  </ion-content>
</ion-view>
