<ion-view view-title="Dashboard" hide-back-button="true">
  <ion-content>
	   <div class="card" ng-repeat="profilelist in profiles" >
		  <div class="item item-divider">{{profilelist.name}}</div>
		  <div class="item item-text-wrap">{{profilelist.email}}</div>
	  </div>
    </ion-list>
  </ion-content>
</ion-view>
