<div class="tabs-striped  tabs-background-positive tabs-color-light">
	<div class="tabs">
		<a class="tab-item " href="#/app/login"><i class="icon ion-unlocked"></i> Login </a>
		<a class="tab-item active" href="#/app/signup"> <i class="icon ion-person"></i> Sing Up </a>
	</div>
</div>

<ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
		   <div class="app-logo"><img src="assets/img/logo.png"></div>
			
			<div class="list list-inset removePM">
			  <label class="item item-input"><input ng-model="user.name" type="text" placeholder="Full Name"> </label>
			  <label class="item item-input"><input ng-model="user.email" type="text" placeholder="Email Address"> </label>
			  <label class="item item-input"><input ng-model="user.password" type="password" placeholder="Password"> </label>
			</div>

			<div class="loginButton"><button class="button ion-person button-block button-balanced" ng-click="register(user);"> Register </button>  </div>
	  </div>
  </div>

	<div class="row  padding removePM">
	  <div class="col"> <a class=" button-positive button button-block" ng-click="facebookSignIn()"><i class="icon ion-social-facebook"></i></a> </div>
	  <div class="col"> <a class="button-calm button button-block" ng-click="twitterSignIn()"><i class="icon ion-social-twitter"></i></a> </div>
	</div>

  </ion-content>
</ion-view>
